<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.ChapterMapper">

    <!-- 查询用户表记录数 -->
    <select id="find" resultType="Chapter">
        select * from book
        <where>
            <trim suffixOverrides=",">
                <if test="id!=null">and id=#{id}</if>
                <if test="title!=null">and title=#{title}</if>
                <if test="author!=null">and author=#{author}</if>
                <if test="summary!=null">and summary=#{summary}</if>
                <if test="chapterCount!=null">and chapter_count=#{chapterCount}</if>
                <if test="processState!=null">and process_state=#{processState}</if>
                <if test="state!=null">and state=#{state}</if>
                <if test="points!=null">and points=#{points}</if>
                <if test="score!=null">and score=#{score}</if>
                <if test="replies!=null">and replies=#{replies}</if>
                <if test="currentChapter!=null">and current_chapter=#{currentChapter}</if>
                <if test="publishDate!=null">and publish_date=#{publishDate}</if>
                <if test="coverPic!=null">and cover_pic=#{coverPic}</if>
                <if test="categoryId!=null">and category_id=#{categoryId}</if>
            </trim>
        </where>
    </select>
    <!--	解决Java属性与sql字段映射-->
    <resultMap id="BaseChapterMap" type="Chapter">
        <id property="id" column="id"/>
        <result property="readCount" column="read_count"/>
        <result property="replyCount" column="reply_count"/>
    </resultMap>
    <resultMap id="ChapterMap" type="Chapter" extends="BaseChapterMap">
        <association property="book" javaType="Book" resultMap="com.mapper.BookMapper.BaseBookMap">
        </association>

    </resultMap>
    <select id="findWithBook" resultMap="ChapterMap">
		SELECT
			c.id,
			c.title,
			c.read_count,
			c.reply_count,
			c.words,
			b.id b_id,
			b.title b_title,
			b.summary,
			b.author
		FROM
			chapter c
			INNER JOIN book b ON c.book_id = b.id
	</select>
</mapper>